{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}


        <HEAD>
            <TITLE>random</TITLE>

        </head>
        <body>
             <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                <h2 class=form-signin-heading">Add timetable file</h2>
                <p>Please add the timetable.xml that you get from the source file of your timetable from myunsw.</p>
                {% csrf_token %}
                {{ upload_file_form.non_field_errors }}
                {% for field in upload_file_form %}
                <div class="form-group">
                    <label for="{{ field.label }}" class="col-lg-2 control-label">{{ field.label }}</label>

                    <div class="col-lg-10">
                        {% load widget_tweaks %}
                        {% if field.label == "Username" %}
                            {% render_field field class="form-control" placeholder=field.label autofocus="true"%}
                        {% else %}
                            {% render_field field class="form-control" placeholder=field.label %}

                        {% endif %}




                    </div>


                    <span class="text-danger">{{ field.errors }}</span>
                </div>

                {% endfor %}

                 <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">


                    <button class="btn btn-primary" type="submit">Add</button>

                </div>
            </div>

                 <p><a href="{% url 'profile.views.edit_profile' %}"> Back to editing profile </a></p>
            </form>
        </body>


{% endblock %}