{% extends "base.html" %}
{% block title %}
{% if user.pk == target_user_pk %}
Edit Profile
{% else %}
{{ first_name}} {{ last_name }}
{% endif %}
{% endblock %}
{% block content %}
{% load string_splitter %}

<head>

</head>
<body>
<center>
    <h1> {{ first_name }} {{ last_name }}

    {% if is_friend %}
        </h1>
    <span class="glyphicon glyphicon-ok"></span> Friends
    {% else %}
        <a href="{% url 'main.views.add_friend' target_user_pk %}">
        <button type="button" class="btn btn-success">Add Friend <span class="glyphicon glyphicon-plus"></span>
        </button>

    </a>
    </h1>
    {% endif %}

    <ul>
        <p> User Name : {{ username }} </p>
        {% for course  in courses %}
        <p> {{course.course_name}} </p>
        {% endfor %}

        {% if user.pk != target_user_pk %}
        <a href="{% url 'main.views.message' target_user_pk %}">
            <button type="button" class="btn btn-success">Send Message <span class="glyphicon glyphicon-envelope"></span>

            </button>
        </a>

        <br/>

        {% endif %}

        {% if is_friend %}
        <button type="button" class="btn btn-warning">Remove as friend (Not written)  <span class="glyphicon glyphicon-remove"></span>
        </button>
        {% endif %}

    </ul>
    {% if is_friend == True or user.pk == target_user_pk %}


    {% ifequal monday|length 1  %}
    {% ifequal tuesday|length 1 %}
    {% ifequal wednesday|length 1 %}
    {% ifequal thursday|length 1 %}
    {% ifequal friday|length 1 %}
    {%ifequal target_user_pk user.pk %}
    <p> <b> Please add timetable.</b> </p>
    {% else %}
    <p> <b> No timetable added.</b></p>
    {%endifequal %}
    {% endifequal %}
    {% endifequal %}
    {% endifequal %}
    {% endifequal %}
    {% endifequal %}

    <table border="2">


        {% ifequal monday|length 1 %}
        {% else %}
        <tr>
            <td>
                Monday
            </td>
            {% if iterator.next %}
            <td>
                {% endif %}

                {% for data in monday %}
                {% if iterator.next|add:"-1"|divisibleby:"3" %}
            <td>
                {% endif %}

                <p> {{ data }} </p>

                {% if iterator.next|divisibleby:"3" %}
            </td>
            {% endif %}


            {% endfor %}
        </tr>
        {% endifequal %}



        {% ifequal tuesday|length 1 %}
        {% else %}
        <tr>
            <td>
                Tuesday
            </td>
            {% if iterator2.next %}
            <td>
                {% endif %}

                {% for data in tuesday %}
                {% if iterator2.next|add:"-1"|divisibleby:"3" %}
            <td>
                {% endif %}

                <p> {{ data }} </p>

                {% if iterator2.next|divisibleby:"3" %}
            </td>
            {% endif %}


            {% endfor %}
        </tr>
        {% endifequal %}


        {% ifequal wednesday|length 1 %}
        {%else%}
        <tr>
            <td>
                Wednesday
            </td>
            {% if iterator3.next %}
            <td>
                {% endif %}

                {% for data in wednesday %}
                {% if iterator3.next|add:"-1"|divisibleby:"3" %}
            <td>
                {% endif %}

                <p> {{ data }} </p>

                {% if iterator3.next|divisibleby:"3" %}
            </td>
            {% endif %}


            {% endfor %}
        </tr>
        {% endifequal %}

        {% ifequal thursday|length 1 %}
        {%else%}
        <tr>
            <td>
                Thursday
            </td>
            {% if iterator4.next %}
            <td>
                {% endif %}

                {% for data in thursday %}
                {% if iterator4.next|add:"-1"|divisibleby:"3" %}
            <td>
                {% endif %}

                <p> {{ data }} </p>

                {% if iterator4.next|divisibleby:"3" %}
            </td>
            {% endif %}


            {% endfor %}
        </tr>
        {%endifequal %}

        {% ifequal friday|length 1 %}
        {%else%}
        <tr>
            <td>
                Friday
            </td>
            {% if iterator5.next %}
            <td>
                {% endif %}

                {% for data in friday %}
                {% if iterator5.next|add:"-1"|divisibleby:"3" %}
            <td>
                {% endif %}

                <p> {{ data }} </p>

                {% if iterator5.next|divisibleby:"3" %}
            </td>
            {% endif %}


            {% endfor %}
        </tr>
        {% endifequal %}


    </table>

    {% endif %}
</center>



{% if user.pk == target_user_pk %}
<p>
    <a href="{% url 'profile.views.edit_profile' %}"> Edit Profile </a>
</p>
{% else %}

{% endif %}



</body>
{% endblock %}
