<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if fingr_user %}
                        <a class="navbar-brand" href="/">
                         unswFingr.me - {{fingr_user.full_name}}

                        {% if fingr_user.available %}
                            <span class="glyphicon-green">
                         <span class="glyphicon glyphicon-chevron-up "></span>
                                - Free
                            </span>



                        {% else %}
                        <span class="glyphicon-red">
                         <span class="glyphicon glyphicon-chevron-down "></span>
                                - Unavailable
                            </span>
                        {% endif %}



                        </a>

            {% else %}
                        <a class="navbar-brand" href="#">unswFingr.me</a>

            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}


                <!--
                <li><a href="{% url 'main.views.set_status' %}">Update Availability <span class="glyphicon glyphicon-time" /></a></li>
                -->
                <li><a href="{% url 'profile.views.view_profile' user.pk %}"> Profile <span class="glyphicon glyphicon-cog" /></a></li>


                <li><a href="{% url 'main.views.friends' %}">Friends <span class="glyphicon glyphicon-user" /></a></li>
                <li><a href="{% url 'main.views.events' %}">Events <span class="glyphicon glyphicon-time" /></a></li>
                <li><a href="{% url 'main.views.search' %}">Search <span class="glyphicon glyphicon-search" /></a></li>


                <li><a href="{% url 'main.views.inbox' %}">Inbox <span class="glyphicon glyphicon-envelope {%if newMessage %}glyphicon-red{% endif %}" /></a></li>
                <li><a href="{% url 'map.views.view_map' %}">Map <span class="glyphicon glyphicon-map-marker" /></a></li>
                <li><a href="{% url 'main.views.logout' %}">Log out <span class="glyphicon glyphicon-off" /></a></li>

                {% else %}
                <li><a href="{% url 'main.views.login' %}">Login <span class="glyphicon glyphicon-arrow-down" /></a></li>

                <li><a href="{% url 'registration.views.register' %}">Register <span class="glyphicon glyphicon-pencil" /></a></li>


                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>