<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">unswFingr.me</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home <span class="glyphicon glyphicon-home" /></a></li>

                {% if authenticated %}
                <li><a href="{% url 'main.views.logout' %}">Log out <span class="glyphicon glyphicon-off" /></a></li>
                <li><a href="{% url 'main.views.set_status' %}">Update Availability <span class="glyphicon glyphicon-time" /></a></li>
               <li><a href="{% url 'profile.views.view_profile' %}">View Profile <span class="glyphicon glyphicon-user" /></a></li>

                <li><a href="{% url 'main.views.friends' %}">Friends <span class="glyphicon glyphicon-user" /></a></li>

                <li><a href="{% url 'main.views.search' %}">Search <span class="glyphicon glyphicon-user" /></a></li>
                <li><a href="{% url 'main.views.inbox' %}">Inbox <span class="glyphicon glyphicon-comment" /></a></li>

                {% else %}
                <li><a href="{% url 'main.views.login' %}">Login <span class="glyphicon glyphicon-arrow-down" /></a></li>

                <li><a href="{% url 'registration.views.register' %}">Register <span class="glyphicon glyphicon-pencil" /></a></li>


                {% endif %}
                <li><a href="/admin">Administrator <span class="glyphicon glyphicon-lock" /></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>