{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Map
{% endblock %}

{% block content %}
    <div id="map-canvas" style="width: 75%; height: 500px;"></div>
    <div id="map-buttons">
        <input id="static-marker-name" type="text"><br>
        <button id="new-static" type="button" onclick="staticMode()">Add new static location</button>
        <button id="new-event" type="button" onclick="">Add new event</button>
        <button id="my-location" type="button" onclick="goToMe()">Show my current location</button>
        <button id="my-auto-loc" type="button" onclick="myAutoLoc()">Auto set my location</button>
        <button id="help-button" type="button" onclick="toggleHelp()">Help</button>
    </div>
    <div id="map-instructions" hidden>
        Clicking a button below then clicking on the map will create a new location using the name you have currently in the text box.<br>
        Your current location is shown in blue. We will approximate your location for you with the button below. Or you can drag your marker yourself to set your location.<br>
        You can drag static locations and events that you own to set their location.
    </div>
    <div id="user-static-markers" style="display: inline-block; vertical-align: top;">
        <h3>Locations</h3>
        {% for marker in fingr_user.static_locations.all %}
            <button id="marker-{{ marker.id }}" type="button" onclick="selectMarker({{ marker.id }})">{{ marker.name }}</button><br>
        {% endfor %}
        {% for friend in fingr_user.friends.all %}
            {% for marker in friend.static_locations.all %}
                <button id="marker-{{ marker.id }}" type="button" onclick="selectMarker({{ marker.id }})">{{ marker.name }}</button><br>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="friends-locations" style="display: inline-block; padding-left: 100px; vertical-align: top;">
        <h3>Friends' Locations</h3>
        {% for friend in fingr_user.friends.all %}
            <button id="friend-{{ friend.full_name }}" type="button" onclick="selectFriendLocation('{{ friend.full_name }}')">{{ friend.full_name }}</button>
        {% endfor %}
    </div>
    <div id="events" style="display: inline-block; padding-left: 100px; vertical-align: top;">
        <h3>Events</h3>
        {% for event in my_events %}
            {{ event.title }}<br>
        {% endfor %}
        {% for event in friends_events %}
            {{ event.title }}<br>
        {% endfor %}
    </div>
{% endblock %}

{% block extra-scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkkdD2uhSw13bqvoIeKQaX_zp4MqIsUfQ&sensor=false"></script>
    <script type="text/javascript">
        // code from django documentation for csrf token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var Modes = {
            NONE: 0,
            STATIC: 1,
            EVENT: 2,
            ME: 3
        };
        var currentMode = Modes.NONE;
        var unswLoc = new google.maps.LatLng(-33.917473, 151.23103);

        var map;
        var markers = {};
        var friendMarker = {};
        var selectedMarker;
        var meMarker;
        var scaledSize = new google.maps.Size(23, 34);
        var anchor = new google.maps.Point(17, 34);

        var icons = {
            default: {
                url: "{% static 'images/marker_grey.png' %}",
                scaledSize: scaledSize,
                anchor: anchor
            },

            me: {
                url: "{% static 'images/marker_blue.png' %}",
                scaledSize: scaledSize,
                anchor: anchor
            },

            selected: {
                url: "{% static 'images/marker_red.png' %}",
                scaledSize: scaledSize,
                anchor: anchor
            },

            friend: {
                url: "{% static 'images/marker_green.png' %}",
                scaledSize: scaledSize,
                anchor: anchor
            }
        };

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-33.917473, 151.23103),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            $.ajax({
                url: "{% url 'map.views.get_static_markers' %}",
            }).done(function(response) {
                var initialData = $.parseJSON(response);
                for (var i = 0; i < initialData.length; i++) {
                    makeStaticMarker(initialData[i]);
                }
            });

            $.ajax({
                url: "{% url 'map.views.get_my_marker' %}",
            }).done(function(response) {
                makeMeMarker($.parseJSON(response));
            });

            $.ajax({
                url: "{% url 'map.views.get_friends_locations' %}",
            }).done(function(response) {
                var friendsLocations = $.parseJSON(response);
                for (var i = 0; i < friendsLocations.length; i++) {
                    makeFriendLocation(friendsLocations[i]);
                }
            });

            $.ajax({
                url: "{% url 'map.views.get_events' %}",
            }).done(function(response) {
                var events = $.parseJSON(response);
                for (var i = 0; i < events.length; i++) {
                    makeEventMarker(events[i]);
                }
            });

            function makeStaticMarker(data) {
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var staticMarker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: data.name,
                            draggable: data.mine,
                            icon: icons.default,
                            fingrType: data.type,
                            fingrId: data.id,
                            fingrDrag: function(event) {
                                $.ajax({
                                    url: "{% url 'map.views.update_static_marker' %}",
                                    data: {
                                        id: this.fingrId,
                                        lat: event.latLng.lat(),
                                        lng: event.latLng.lng()
                                    },
                                    type: 'POST'
                                });
                            }
                        });
                google.maps.event.addDomListener(staticMarker, 'dragend', staticMarker.fingrDrag);
                if (staticMarker.fingrId !== undefined) {
                    markers[staticMarker.fingrId] = staticMarker;
                }
                return staticMarker;
            }

            function makeMeMarker(data) {
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var newMeMarker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: "You are here!",
                            draggable: true,
                            icon: icons.me,
                            fingrType: data.type,
                            fingrId: data.id,
                            fingrDrag: function(event) {
                                $.ajax({
                                    url: "{% url 'map.views.set_my_marker' %}",
                                    data: {
                                        lat: event.latLng.lat(),
                                        lng: event.latLng.lng()
                                    },
                                    type: 'POST'
                                });
                            }
                        });
                google.maps.event.addDomListener(newMeMarker, 'dragend', newMeMarker.fingrDrag);
                meMarker = newMeMarker
                map.panTo(latLng);
                return newMeMarker;
            }

            function makeFriendLocation(data) {
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var friendLocation = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: data.name,
                            draggable: false,
                            icon: icons.friend
                });
                friendMarker[data.name] = friendLocation;
                return friendLocation;
            }

            function clickOnMap(event) {
                switch(currentMode) {
                    case Modes.STATIC:
                        var staticMarker = makeStaticMarker({
                            name: $('#static-marker-name').val(),
                            latitude: event.latLng.lat(),
                            longitude: event.latLng.lng(),
                            type: currentMode
                        });
                        // we want to send to the server the name and latLng of our static marker to
                        // save for next visit/friends to see
                        $.ajax({
                            url: "{% url 'map.views.new_static_marker' %}",
                            data: {
                                name: staticMarker.title,
                                lat: staticMarker.position.lat(),
                                lng: staticMarker.position.lng()
                            },
                            type: 'POST'
                        }).done(function(response) {
                            var r = JSON.parse(response);
                            staticMarker.fingrId = r.id;
                        });
                        break;
                    case Modes.EVENT:
                        break;
                }
                currentMode = Modes.NONE;
            }
            google.maps.event.addDomListener(map, 'click', clickOnMap);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function staticMode() {
            // the next click on the map will create a new static location marker
            currentMode = Modes.STATIC;
        }

        function selectMarker(marker) {
            if (selectedMarker !== undefined) {
                selectedMarker.setIcon(icons.default);
            }
            if (markers[marker] !== undefined) {
                selectedMarker = markers[marker];
                selectedMarker.setIcon(icons.selected);
                map.panTo(selectedMarker.position);
            }
        }

        function selectFriendLocation(friend) {
            if (friendMarker[friend] !== undefined) {
                map.panTo(friendMarker[friend].position);
            }
        }

        function myAutoLoc() {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                var latLng = new google.maps.LatLng(lat, lng);
                meMarker.fingrDrag({ latLng: latLng });
                meMarker.setPosition(latLng);
            });
        }

        var helpVisible = false;

        function toggleHelp() {
            if (helpVisible) {
                $("#map-instructions").hide();
                helpVisible = false;
            } else {
                $("#map-instructions").show();
                helpVisible = true;
            }
        }

        function goToMe() {
            map.panTo(meMarker.position);
        }
    </script>
{% endblock %}