{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Map
{% endblock %}

{% block content %}
    <div id="map-canvas" style="width: 100%; height: 500px;"></div>
    <div id="map-buttons">
        Clicking a button below then clicking on the map will create a new location using the name you have currently in the text box.<br>
        <input id="static-marker-name" type="text"><br>
        <button id="new-static" type="button" onclick="staticMode()">Add new static location</button>
        <button id="new-event" type="button" onclick="">Add new event</button>
        <button id="my-location" type="button" onclick="meMode()">Set your location</button>
    </div>
    <div id="user-static-markers" style="display: inline-block;">
        <h3>My Locations:</h3>
        {% for marker in fingr_user.static_locations.all %}
            <button id="marker-{{ marker.id }}" type="button" onclick="selectMarker({{ marker.id }})">{{ marker.name }}</button><br>
        {% endfor %}
    </div>
    <div id="friends-static-markers" style="display: inline-block; padding-left: 100px;">
        <h3>Friends' Locations:</h3>
        {% for friend in fingr_user.friends.all %}
            <h4>{{ friend.email }}</h4>
            {% for marker in friend.static_locations.all %}
                {{ marker.name }}<br>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra-scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkkdD2uhSw13bqvoIeKQaX_zp4MqIsUfQ&sensor=false"></script>
    <script type="text/javascript">
        // code from django documentation for csrf token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var Modes = {
            NONE: 0,
            STATIC: 1,
            EVENT: 2,
            ME: 3
        };
        var currentMode = Modes.NONE;
        var unswLoc = new google.maps.LatLng(-33.917473, 151.23103);

        var map;
        var markers = {};
        var selectedMarker;
        var meMarker;

        var icons = {
            default: {
                url: "{% static 'images/marker_grey.png' %}",
                scaledSize: new google.maps.Size(23, 34),
                anchor: new google.maps.Point(17, 34)
            },

            me: {
                url: "{% static 'images/marker_blue.png' %}",
                scaledSize: new google.maps.Size(23, 34),
                anchor: new google.maps.Point(17, 34)
            },

            selected: {
                url: "{% static 'images/marker_red.png' %}",
                scaledSize: new google.maps.Size(23, 34),
                anchor: new google.maps.Point(17, 34)
            }
        };

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-33.917473, 151.23103),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            $.ajax({
                url: "{% url 'map.views.get_static_markers' %}",
            }).done(function(response) {
                var initialData = $.parseJSON(response);
                for (var i = 0; i < initialData.length; i++) {
                    makeStaticMarker(initialData[i]);
                }
            });

            // TODO get me marker

            function makeStaticMarker(data) {
                console.log("making marker for %O", data);
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var staticMarker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: data.name,
                            draggable: true,
                            icon: icons.default,
                            fingrId: data.id,
                            fingrDrag: function(event) {
                                $.ajax({
                                    url: "{% url 'map.views.update_static_marker' %}",
                                    data: {
                                        id: this.fingrId,
                                        lat: event.latLng.lat(),
                                        lng: event.latLng.lng()
                                    },
                                    type: 'POST'
                                });
                            }
                        });
                console.log("new marker %O", staticMarker);
                google.maps.event.addDomListener(staticMarker, 'dragend', staticMarker.fingrDrag);
                if (staticMarker.fingrId !== undefined) {
                    markers[staticMarker.fingrId] = staticMarker;
                }
                return staticMarker;
            }

            function makeMeMarker(data) {
                console.log("making me marker for %O", data);
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var staticMarker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: data.name,
                            draggable: true,
                            icon: icons.default,
                            fingrId: data.id,
                            fingrDrag: function(event) {
                                $.ajax({
                                    url: "{% url 'map.views.update_static_marker' %}",
                                    data: {
                                        id: this.fingrId,
                                        lat: event.latLng.lat(),
                                        lng: event.latLng.lng()
                                    },
                                    type: 'POST'
                                });
                            }
                        });
                console.log("new marker %O", staticMarker);
                google.maps.event.addDomListener(staticMarker, 'dragend', staticMarker.fingrDrag);
                if (staticMarker.fingrId !== undefined) {
                    markers[staticMarker.fingrId] = staticMarker;
                }
                return staticMarker;
            }

            function clickOnMap(event) {
                console.log("someone clicked @ " + event.latLng);
                switch(currentMode) {
                    case Modes.STATIC:
                        var staticMarker = makeStaticMarker({
                            name: $('#static-marker-name').val(),
                            latitude: event.latLng.lat(),
                            longitude: event.latLng.lng()
                        });
                        // we want to send to the server the name and latLng of our static marker to
                        // save for next visit/friends to see
                        $.ajax({
                            url: "{% url 'map.views.new_static_marker' %}",
                            data: {
                                name: staticMarker.title,
                                lat: staticMarker.position.lat(),
                                lng: staticMarker.position.lng()
                            },
                            type: 'POST'
                        }).done(function(response) {
                            var r = JSON.parse(response);
                            staticMarker.fingrId = r.id;
                        });
                        break;
                    case Modes.EVENT:
                        break;
                    case Modes.ME:
                        var meMarker = makeMeMarker({
                            name: "Me",
                            lat: event.latLng.lat(),
                            lng: event.latLng.lng()
                        });
                        $.ajax({
                            url: "{% url 'map.views.set_my_marker' %}",
                            data: {
                                lat: meMarker.position.lat(),
                                lng: meMarker.position.lng()
                            },
                            type: 'POST'
                        }).done(function(response) {
                            var r = JSON.parse(response);
                        });
                        break;
                    default:
                        console.log("no active thing to do, ignore click");
                }
                currentMode = Modes.NONE;
            }
            google.maps.event.addDomListener(map, 'click', clickOnMap);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function staticMode() {
            // the next click on the map will create a new static location marker
            currentMode = Modes.STATIC;
        }

        function meMode() {
            // the next click on the map will set my current location for my friends to see
            currentMode = Modes.ME;
        }

        function selectMarker(marker) {
            if (selectedMarker !== undefined) {
                selectedMarker.setIcon(icons.default);
            }
            if (markers[marker] !== undefined) {
                selectedMarker = markers[marker];
                selectedMarker.setIcon(icons.selected);
                map.panTo(selectedMarker.position);
            }
        }
    </script>
{% endblock %}