{% extends "base.html" %}
{% block title %}Available Friends{% endblock %}
{% block content %}


    <h2 class="text-success">
       Free:
    </h2>

    {% for friend in fingr_user.friends_list %}
     {% if friend.available %}
      <a href="{% url 'profile.views.view_profile' friend.pk %}">{{ friend.full_name }} - <span class="text-success">Free</span></a> <br />
    {% endif %}
    {% endfor %}

    <h2 class="text-danger">
       Unavailable:
    </h2>

    {% for friend in fingr_user.friends_list %}
     {% if not friend.available %}
     <a href="{% url 'profile.views.view_profile' friend.pk %}"> {{ friend.full_name }} - <span class="text-danger">Unavailable</span></a> <br />
    {% endif %}
    {% endfor %}

{% endblock %}