{% extends "base.html" %}
{% block title %}Message{% endblock %}
{% block content %}

{% if valid %}
        <h3>Conversation with {{talking_to.username}}</h3>
        <hr />
        {% if conversation %}

        <span class="text-muted">Most recent meessages are shown on top.</span>
           {% for message in conversation %}

                {% if message.sentFrom == fingr_user %}
                <div class="highlight highlight-right">
                <strong class="text-primary">You</strong><br />
                {{message.text}} <br /><span class="text-muted">{{message.time}}</span>

                {% else %}
                <div class="highlight highlight-left">
                <strong class="text-primary">{{message.sentFrom}}</strong><br />
                {{message.text}} <br /><span class="text-muted">{{message.time}}</span>

                {% endif %}
               {% if message.read and message.sentFrom == fingr_user %}
                    <span class="glyphicon glyphicon-ok text-muted"> </span>
                    <span class="text-muted"> Message read.</span>
                {% endif %}
               </div>


           {% endfor %}
        {% else %}
            {% if feedback %}
            {{ feedback }} <br/>
            {% endif %}
            No conversation history.
        {% endif %}
        <hr />

        {% if message_sent %}
            Message Sent.
        {% endif %}
       <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.label }}" class="col-lg-2 control-label">{{ field.label }}</label>

                <div class="col-lg-10">
                        {{ field }}

                </div>
                <span class="text-danger">{{ field.errors }}</span>
            </div>

            {% endfor %}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">


                    <button class="btn btn-primary" type="submit">Send <span class="glyphicon glyphicon-send" /></button>

                </div>
            </div>

        </form>
{% else %}
        {{ feedback }}
{% endif %}
{% endblock %}