{% extends "base.html" %}
{% block title %}Update Availability{% endblock %}
{% block content %}


    <h2>
       Status -
    {% if fingr_user.available %}
    <span class="text-success">Free</span>
    {% else %}
    <span class="text-danger">Not Free</span>
    {% endif %}
            </h2>

     <hr>

    <form class="form-horizontal" method="post" action="">
        <h2 class=form-signin-heading">Set your Status</h2>

        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.label }}" class="col-lg-2 control-label">{{ field.label }}</label>

            <div class="col-lg-10">
                {{ field }}

            </div>
            <span class="text-danger">{{ field.errors }}</span>
        </div>

        {% endfor %}

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">


                <button class="btn btn-primary" type="submit">Set Status</button>

            </div>
        </div>

    </form>
{% endblock %}